<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link href="/style.css"  rel="stylesheet">
    <title>Validador de CPF com CPF validado</title>
</head>
<body class="container">
    <br>
    <br>
    <br>
    <h1>Validar CPF</h1>
    <hr>
    <div th:if="${verdade}" class="alert alert-success" role="alert">Foi validado com sucesso</div>
    <div th:unless="${verdade}" class="alert alert-danger" role="alert">Não validado</div>

      
</body>
</html>


